
@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-lightital.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-reg.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-med.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-medital.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-boldital.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'PFDinDisplayPro';
	src: local('PFDinDisplayPro'),
	url('../fonts/pfdindisplaypro/pfdindisplaypro-black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'ALSRubl';
	src: local("ALSRubl"),
	url('../fonts/ALSRubl/rouble.otf');
	font-weight: 400;
}