
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 83px;
    padding-top: 20px;
    padding-bottom: 27px;
    &-logo {
        width: 244px;
        height: 36px;
        margin-right: 20px;
    }
}

.main-menu {
    display: flex;
    align-items: center;
    &-item {
        position: relative;
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.095em;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;
        white-space: nowrap;
        &:hover {
            color: #000;
            border-color: #3C9FFA;
        }
    }
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/* /IE 11 */

@media screen
and (max-width: $desktop) {
    .main-menu {
        &-item {
            margin-right: 58px;
        }
    }
}

@media screen
and (max-width: $notebook) {
    .main-menu {
        &-item {
            margin-right: 17px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .header {
        flex-direction: column;
        &-logo {
            margin-bottom: 27px;
        }
    }
    .main-menu {
        &-item {
            margin-right: 43px;
        }
    }
}


@media screen
and (max-width: $mobile){
    .header {
        min-height: 86px;
        &-logo {
            margin-right: 0;
            margin-bottom: 0;
        }
        &-main-menu {
            display: none;
        }
    }
    .main-menu {
        flex-direction: column;
        justify-content: center;
        &-item {
            margin-bottom: 22px;
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


