
.main-content {
    padding-bottom: 85px;
}

.main {
    position: relative;
    height: 766px;
    margin-bottom: 81px;
    background: linear-gradient(90deg, #1F4466 50%, #c6c6c6 50%);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 1155px;
        margin-left: -960px;
        height: 100%;
        background: linear-gradient(90deg, #1F4466 0%, rgba(0, 0, 0, 0) 100%);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 200px;
        margin-left: 760px;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #c6c6c6 100%);
    }
    &-banner-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none;
    }
    &-container {
        height: 100%;
    }
    &-info {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-top: 115px;
        padding-bottom: 70px;
        color: #fff;
        a {
            color: #fff;
        }
    }
    &-info-top {
        margin-bottom: 50px;
    }
    &-info-1 {
        margin-bottom: 6px;
        font-weight: 300;
        font-size: 36px;
        line-height: 38px;
    }
    &-info-2 {
        margin-bottom: 16px;
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &-info-3 {
        margin-bottom: 46px;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
    }
    &-info-contacts {
        margin-top: auto;
    }
    &-info-contacts-links {
        margin-bottom: 29px;
    }
    &-phone {
        margin-right: 19px;
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.095em;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
    }
    &-callback {
        display: inline-block;
        font-weight: 300;
        font-size: 20px;
        line-height: 18px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        vertical-align: middle;
        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-item {
        margin-right: 22px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    &-icon {
        transition: opacity 0.4s ease-in-out;
    }
    &-icon_active {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
    }
    &-link:hover &-icon {
        opacity: 0;
    }
    &-link:hover &-icon_active {
        opacity: 1;
    }
}

.main-content-menu {
    display: none;
}

.advantages {
    margin-bottom: 110px;
    &-list {}
    &-item {
        text-align: center;
        margin-bottom: 20px;
    }
    &-number {
        position: relative;
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 70px;
        font-weight: 900;
        line-height: 82px;
        letter-spacing: 0.05em;
        color: #004161;
        white-space: nowrap;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 56px;
            height: 6px;
            background-color: #3C9FFA;
        }
        sup {
            font-size: 44px;
            line-height: 10px;
        }
    }
    &-detail {
        display: block;
        min-height: 72px;
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
        color: #1F4466;
    }
    &-currency {
        text-transform: none;
        font-size: 69px;
    }
}


@media screen
and (max-width: $desktop){
    .main {
        &:before {
            left: 0;
            width: 800px;
            margin-left: 0;
        }
    }
    .advantages {
        &-detail {
            font-size: 25px;
            line-height: 27px;
        }
    }
}

@media screen
and (max-width: $notebook){
    .main {
        &-banner-img {
            margin-left: -59px;
        }
    }
    .advantages {
        &-number {
            padding-bottom: 21px;
            font-size: 60px;
            line-height: 70px;
        }
        &-currency {
            font-size: 59px;
        }
        &-detail {
            font-size: 22px;
            line-height: 23px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .main {
        margin-bottom: 75px;
        &-banner-img {
            margin-left: 38px;
        }
        &-info {
            width: 62%;
        }
    }
    .advantages {
        margin-bottom: 44px;
    }
}

@media screen
and (max-width: $mobile){
    .main-content-menu {
        display: block;
        margin-bottom: 77px;
    }
    .main {
        margin-bottom: 42px;
        &:before {
            background: rgba(13, 37, 60, 0.85);
        }
        &-banner-img {
            margin-left: -283px;
        }
        &-info {
            width: 100%;
            padding-top: 167px;
            text-align: center;
        }
        &-info-3 {
            margin-bottom: 32px;
        }
        &-info-contacts-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 34px;
        }
        &-callback {
            font-size: 25px;
            line-height: 21px;
        }
        &-phone {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .socials {
        justify-content: center;
    }
    .advantages {
        margin-bottom: 0;
    }
}



.category {
    margin-bottom: 150px;
    &-link {
        display: block;
        text-decoration: none;
        padding: 20px;
        &:hover {
            background-color: #fff;
            box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.25);
        }
    }
    &-img {
        display: block;
        width: 100%;
        margin-bottom: 19px;
    }
    &-name {
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
        color: #1F4466;
    }
    &-slider {
        overflow: visible;
        margin-left: -260px;
        margin-right: -260px;
    }
    &-list {
    }
}

.block {
    padding-top: 60px;
    padding-bottom: 84px;
    background-color: #293C4E;
    .title {
        color: #fff;
    }
}

.sport {
    margin-bottom: 80px;
    &-slider {
        position: relative;
        overflow: visible;
    }
    &-list {}
    &-item {
    }
    &-block {
        position: relative;
        display: flex;
        overflow: hidden;
        margin-bottom: 25px;
        background-color: #3C9FFA;
    }
    &-block-item {
        overflow: hidden;
        &:nth-child(1) {
            margin-right: -15%;
            clip-path: polygon(0 0, 100% 0, 74.5% 100%, 0% 100%);
        }
        &:nth-child(2) {
            clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-panel {
        display: flex;
        flex-wrap: wrap;
    }
    &-name {
        flex-grow: 1;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: #293C4E;
        color: #FFFFFF;
    }
    &-rating {
        margin-right: 82px;
    }
    &-button {
        margin-top: -30px;
    }
    &-pagination {
        position: static;
        min-width: 32px;
        width: auto!important;
        height: 28px;
        margin-right: 80px;
    }
    &-nav {}
}

.today {
    margin-bottom: 66px;
}

.partners {
    margin-bottom: 127px;
    &-info {
        margin-bottom: 66px;
        text-align: center;
        font-weight: 300;
        font-size: 50px;
        line-height: 53px;
        color: #3C9FFA;
    }
    &-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
        -ms-grid-rows: 1fr 24px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    &-list-item {
        width: 100%;
        position: relative;
        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60, 159, 250, 0.3);
            transition: opacity 0.3s linear;
        }
        &:hover:after {
            opacity: 1;
        }
    }

    &-list-item_1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 11;
        grid-column: 1/7;
    }

    &-list-item_2 {
        -ms-grid-column: 13;
        -ms-grid-column-span: 12;
        grid-column: 7/13;
    }

    &-list-item_3 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        -ms-grid-row: 3;
        grid-row-start: 2;
        grid-column: 1/9;
    }

    &-list-item_4 {
        -ms-grid-column: 17;
        -ms-grid-column-span: 7;
        -ms-grid-row: 3;
        grid-row-start: 2;
        grid-column: 9/13;
    }

    &-img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@media screen
and (max-width: $desktop){
    .category {
        &-slider {
            margin-left: -30px;
            margin-right: 68px;
        }
    }
    .block {
        padding-bottom: 77px;
    }
    .sport {
        &-slider {
            margin-left: 95px;
            margin-right: 95px;
        }
    }
    .partners {
        margin-bottom: 113px;
        &-info {
            margin-bottom: 53px;
        }
    }
}

@media screen
and (max-width: $notebook){
    .category {
        &-slider {
            margin-right: 88px;
        }
    }
    .block {
        padding-bottom: 23px;
    }
    .sport {
        &-slider {
            margin-left: 0;
            margin-right: 0;
        }
        &-button {
            margin-top: 0;
        }
    }
    .partners {
        margin-bottom: 106px;
        &-info {
            margin-bottom: 28px;
            font-size: 40px;
            line-height: 42px;
        }
    }
    .today {
        margin-bottom: 34px;
    }
}

@media screen
and (max-width: $tablet){
    .category {
        margin-bottom: 65px;
    }
    .sport {
        &-pagination {
            margin-right: 34px;
        }
    }
    .partners {
        margin-bottom: 68px;
        &-info {
            margin-bottom: 35px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .category {
        margin-bottom: 42px;
        &-slider {
            margin-left: 0;
            margin-right: 24px;
        }
    }
    .sport {
        &-panel {
            flex-direction: column;
            margin-left: $gutter;
            margin-right: $gutter;
            align-items: center;
        }
        &-slider {
            margin-left: -$gutter;
            margin-right: -$gutter;
        }
        &-pagination {
            height: 21px;
            margin-right: 0;
            margin-bottom: 27px;
        }
    }
    .block {
        padding-top: 58px;
        padding-bottom: 31px;
        background-color: #293C4E;
    }
    .partners {
        margin-bottom: 84px;
        &-list {
            display: block;
        }
        &-list-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .today {
        margin-bottom: 17px;
    }
}



.marketing {
    padding-bottom: 403px;
    &-title {
        margin-bottom: 130px;
    }
    &-info {
    }
    &-info-name {
        display: block;
        margin-bottom: 25px;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #3C9FFA;
    }
    &-info-content {
        column-count: 2;
        column-gap: 82px;
        color: #fff;
    }
    &-list {
        margin-bottom: 102px;
    }
    &-list-item {
        margin-bottom: 14px;
        text-align: center;
    }
    &-img {
        display: block;
        position: relative;
        z-index: 1;
    }
    &-list-item_promo {}
    &-list-item_promo &-img {
    }
    &-list-item_photo {}
    &-list-item_photo &-img {
        margin-top: -90px;
        max-height: 600px;
    }
    &-list-item_education {}
    &-list-item_education &-img {
        margin-top: 3px;
        margin-left: -70px;
    }
    &-link {
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &-box {
        display: block;
    }
    &-name {
        display: block;
        max-width: 306px;
        min-height: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        font-weight: 900;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
    &-more {
    }
    &-block {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        height: 459px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 306px;
            height: 100%;
            border: 9px solid rgba(60, 159, 250, 0.26);
        }
    }
}

.video {
    display: block;
    height: 650px;
    position: relative;
    margin-top: -300px;
    margin-bottom: 105px;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(60, 159, 250, 0.78);
    }
    &-img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &-block {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 450px;
        margin-top: 30px;
    }
    &-info {
        display: block;
        margin-bottom: 48px;
        text-align: center;
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
    }
    &-icon {
        margin-bottom: 28px;
    }
    &-logo {
        width: 188px;
    }
}

@media screen
and (max-width: $desktop){
    .marketing {
        padding-bottom: 408px;
        &-title {
            margin-bottom: 158px;
        }
        &-list {
            margin-bottom: 87px;
        }
        &-block {
            height: 380px;
            &:after {
                width: 280px;
            }
        }
        &-list-item_photo &-img {
            margin-top: -90px;
            max-height: 497px;
        }
    }
    .video {
        margin-top: -342px;
        margin-bottom: 114px;
    }
}

@media screen
and (max-width: $notebook) {
    .marketing {
        padding-bottom: 430px;
        &-block {
            height: 330px;
            &:after {
                width: 244px;
            }
        }
        &-name {
            font-size: 25px;
            line-height: 27px;
        }
        &-list-item_photo &-img {
            margin-top: -90px;
            max-height: 433px;
        }
        &-info-content {
            column-gap: $gutters;
        }
    }
    .video {
        margin-top: -377px;
        margin-bottom: 105px;
        &-block {
            margin-top: 40px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .marketing {
        padding-top: 45px;
        &-title {
            margin-bottom: 115px;
        }
        &-list {
            margin-bottom: 50px;
        }
        &-list-item {
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-link {
            display: flex;
            align-items: center;
        }
        &-block {
            width: 50%;
            height: auto;
            margin-bottom: 0;
            padding-right: $gutter;
            justify-content: left;
            &:after {
                width: 274px;
                height: 200px;
                left: 60px;
                transform: translate(0, -50%);
            }
        }
        &-box {
            width: 50%;
        }
        &-img {
            max-height: 200px;
        }
        &-list-item_promo {
            margin-bottom: 62px;
        }
        &-list-item_promo &-img {
            top: 45px;
        }
        &-list-item_photo &-img {
            margin-top: 0;
            max-height: 342px;
        }
        &-list-item_photo &-block {
            justify-content: center;
        }
        &-list-item_education &-img {
            max-height: 300px;
            margin-top: 3px;
            margin-left: 17px;
        }
        &-name {
            min-height: auto;
        }
        &-info-content {
            column-count: auto;
        }
    }
    .video {
        height: 600px;
        margin-left: -$gutter;
        margin-right: -$gutter;
        margin-bottom: 97px;
    }
}

@media screen
and (max-width: $mobile){
    .marketing {
        &-title {
            margin-bottom: 71px;
        }
        &-list {
            margin-bottom: 44px;
        }
        &-list-item {
            margin-bottom: 60px;
        }
        &-link {
            flex-direction: column;
        }
        &-block {
            width: 100%;
            margin-bottom: 1px;
            padding-right: 0;
            justify-content: center;
            &:after {
                width: 100%;
                height: 180px;
                left: 0;
                transform: translate(0, -50%);
            }
        }
        &-box {
            width: 100%;
        }
        &-name {
            max-width: none;
        }
        &-list-item_promo &-block {
            margin-bottom: 50px;
        }
    }
    .video {
        margin-bottom: 88px;
        &-block {
            margin-top: 23px;
        }
    }
}