
.main-content {
    padding-bottom: 85px;
}

.main {
    position: relative;
    height: 766px;
    margin-bottom: 81px;
    background: linear-gradient(90deg, #1F4466 50%, #c6c6c6 50%);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 1155px;
        margin-left: -960px;
        height: 100%;
        background: linear-gradient(90deg, #1F4466 0%, rgba(0, 0, 0, 0) 100%);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 200px;
        margin-left: 760px;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #c6c6c6 100%);
    }
    &-banner-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none;
    }
    &-container {
        height: 100%;
    }
    &-info {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-top: 115px;
        padding-bottom: 70px;
        color: #fff;
        a {
            color: #fff;
        }
    }
    &-info-top {
        margin-bottom: 50px;
    }
    &-info-1 {
        margin-bottom: 6px;
        font-weight: 300;
        font-size: 36px;
        line-height: 38px;
    }
    &-info-2 {
        margin-bottom: 16px;
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &-info-3 {
        margin-bottom: 46px;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
    }
    &-info-contacts {
        margin-top: auto;
    }
    &-info-contacts-links {
        margin-bottom: 29px;
    }
    &-phone {
        margin-right: 19px;
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.095em;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
    }
    &-callback {
        display: inline-block;
        font-weight: 300;
        font-size: 20px;
        line-height: 18px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        vertical-align: middle;
        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-item {
        margin-right: 22px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        text-decoration: none;
    }
    &-icon {
    }
    &-icon_active {
        display: none;
    }
    &-link:hover &-icon {
        display: none;
    }
    &-link:hover &-icon_active {
        display: inline-block;
    }
}

.main-content-menu {
    display: none;
}

.advantages {
    margin-bottom: 110px;
    &-item {
        text-align: center;
        margin-bottom: 20px;
    }
    &-number {
        position: relative;
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 70px;
        font-weight: 900;
        line-height: 82px;
        letter-spacing: 0.05em;
        color: #004161;
        white-space: nowrap;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 56px;
            height: 6px;
            background-color: #3C9FFA;
        }
    }
    &-detail {
        display: block;
        min-height: 72px;
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
        color: #1F4466;
    }
    &-currency {
        text-transform: none;
        font-size: 69px;
    }
}


@media screen
and (max-width: $desktop){
    .main {
        &:before {
            left: 0;
            width: 800px;
            margin-left: 0;
        }
    }
    .advantages {
        &-detail {
            font-size: 25px;
            line-height: 27px;
        }
    }
}

@media screen
and (max-width: $notebook){
    .main {
        &-banner-img {
            margin-left: -59px;
        }
    }
    .advantages {
        &-number {
            padding-bottom: 21px;
            font-size: 60px;
            line-height: 70px;
        }
        &-currency {
            font-size: 59px;
        }
        &-detail {
            font-size: 22px;
            line-height: 23px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .main {
        margin-bottom: 75px;
        &-banner-img {
            margin-left: 38px;
        }
        &-info {
            width: 62%;
        }
    }
    .advantages {
        margin-bottom: 44px;
    }
}

@media screen
and (max-width: $mobile){
    .main-content-menu {
        display: block;
        margin-bottom: 77px;
    }
    .main {
        margin-bottom: 42px;
        &:before {
            background: rgba(13, 37, 60, 0.85);
        }
        &-banner-img {
            margin-left: -283px;
        }
        &-info {
            width: 100%;
            padding-top: 167px;
            text-align: center;
        }
        &-info-3 {
            margin-bottom: 32px;
        }
        &-info-contacts-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 34px;
        }
        &-callback {
            font-size: 25px;
            line-height: 21px;
        }
        &-phone {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .socials {
        justify-content: center;
    }
    .advantages {
        margin-bottom: 0;
    }
}


.category {
    margin-bottom: 150px;
    &-link {
        display: block;
        text-decoration: none;
        padding: 20px;
        &:hover {
            background-color: #fff;
            box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.25);
        }
    }
    &-img {
        display: block;
        width: 100%;
        margin-bottom: 19px;
    }
    &-name {
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
        color: #1F4466;
    }
    &-slider {
        overflow: visible;
        margin-left: -260px;
        margin-right: -260px;
    }
    &-list {
    }
}

.block {
    padding-top: 60px;
    padding-bottom: 84px;
    background-color: #293C4E;
    .title {
        color: #fff;
    }
}

.sport {
    margin-bottom: 80px;
    &-slider {
        position: relative;
        overflow: visible;
    }
    &-list {}
    &-item {
        background-color: #293C4E;
    }
    &-block {
        position: relative;
        display: flex;
        overflow: hidden;
        margin-bottom: 25px;
        background-color: #3C9FFA;
    }
    &-block-item {
        overflow: hidden;
        &:nth-child(1) {
            margin-right: -15%;
            clip-path: polygon(0 0, 100% 0, 74.5% 100%, 0% 100%);
        }
        &:nth-child(2) {
            clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-panel {
        display: flex;
        flex-wrap: wrap;
        margin-left: 118px;
    }
    &-name {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-rating {
        margin-right: 82px;
    }
    &-button {
        margin-top: -30px;
    }
    &-pagination {
        bottom: 7px!important;
    }
    &-nav {}
}

.today {
    margin-bottom: 66px;
}


@media screen
and (max-width: $desktop){
    .category {
        &-slider {
            margin-left: -30px;
            margin-right: 68px;
        }
    }
    .block {
        padding-bottom: 77px;
    }
    .sport {
        &-slider {
            margin-left: 95px;
            margin-right: 95px;
        }
    }
}

@media screen
and (max-width: $notebook){
    .category {
        &-slider {
            margin-right: 88px;
        }
    }
    .block {
        padding-bottom: 23px;
    }
    .sport {
        &-slider {
            margin-left: 0;
            margin-right: 0;
        }
        &-button {
            margin-top: 0;
        }
    }
}

@media screen
and (max-width: $tablet){
    .category {
        margin-bottom: 65px;
    }
}

@media screen
and (max-width: $mobile){
    .category {
        margin-bottom: 42px;
        &-slider {
            margin-left: 0;
            margin-right: 24px;
        }
    }
    .sport {
        &-panel {
            margin-left: $gutter;
            margin-right: $gutter;
            justify-content: center;
        }
        &-slider {
            margin-left: -$gutter;
            margin-right: -$gutter;
        }
    }
    .block {
        padding-top: 58px;
        padding-bottom: 31px;
        background-color: #293C4E;
    }
}