
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0,0,0,0.6);
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    position: absolute;
    top: -32px;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    &_inner {
        top: 51px;
        right: 57px;
    }
}
.fancybox-close:hover {
}

.fancybox-close-icon {
    margin-left: 5px;
    color: #afafaf;
    font-size: 20px;
    vertical-align: middle;
}
.fancybox-close:hover .fancybox-close-icon {
    color: #fff;
}

.fancybox-close_simple {
    top: -31px;
    right: -31px;
}
.fancybox-close_simple .fancybox-close-icon {
    color: #fefefe;
    font-size: 30px;
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;

}

.fancybox-button--arrow_right {
    width: 94px;
    height: 100%;
    margin-right: -120px;
    background-color: transparent;
}

.fancybox-button--arrow_left {
    width: 94px;
    height: 100%;
    margin-left: -120px;
    background-color: transparent;
}

.fancybox-button-icon {
    display: inline-block;
    width: 94px;
    height: 94px;
    padding-top: 29px;
    padding-bottom: 29px;
    border-radius: 50%;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    &_left { }
    &_right {
    }
}

.fancybox-button[disabled] {
    visibility: hidden;
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
    color: #c4c4c4;
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}

.fancybox-toolbar {
    display: none;
}
/* /Fancybox */



@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #59A750;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.popup {
    width: 636px;
    padding: 52px 63px 53px;
    background-color: #293C4E;
    &-title {
        display: block;
        position: relative;
        margin-bottom: 11px;
        padding-left: 50px;
        color: #fff;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &:before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 9px;
            height: 73px;
            background-color: #3C9FFA;
            transform: skew(159deg);
        }
        span {
            font-weight: 300;
        }
    }
    &-info {
        margin-bottom: 40px;
        margin-left: 50px;
        max-width: 280px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    &-actions {
        margin-bottom: 31px;
    }
    &-button {
        width: 100%;
    }
    &-text {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #9A9A9A;
    }
    &-box {
        margin-top: 96px;
        margin-bottom: 220px;
    }
    &-logo-wrapper {
        text-align: right;
    }

    &_wide {
        width: 100%;
        height: 100%;
    }
}

.сonfidential {
    &-title {
        margin-bottom: 68px;
        margin-left: -50px;
    }
    &-container {
        max-width: 1076px;
        margin-left: auto;
        margin-right: auto;
    }
    &-content {
        height: calc(100vh - 300px);
        padding: 55px 86px 53px;
        background-color: #fff;
        color: #000000;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    &-block {}
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


@media screen
and (max-width: $notebook){
    .fancybox-button--arrow_right {
        margin-right: 10px;
    }

    .fancybox-button--arrow_left {
        margin-left: 10px;
    }
}

@media screen
and (max-width: $tablet){
    .popup {
        padding: 30px 24px 38px;
        &-title {
            margin-bottom: 33px;
            padding-left: 37px;
            font-size: 30px;
            line-height: 35px;
            &:before {
                top: 7px;
                height: 56px;
            }
        }
        &-info {
            margin-left: 37px;
        }
    }
    .сonfidential {
        &-title {
            margin-left: -37px;
        }
        &-content {
            height: calc(100vh - 200px);
            padding: 40px;
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .fancybox-close {
        &_inner {
            top: 30px;
            right: 24px;
        }
    }
    .popup {
        width: 100%;
        &-info {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .сonfidential {
        &-title {
            margin-left: -7px;
        }
        &-content {
            height: calc(100vh - 180px);
            padding: 30px;
            font-size: 16px;
            line-height: 26px;
        }
        &-block {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
