
$mobile: 744px;
$tablet: 984px;
$notebook: 1164px;
$desktop: 1344px;
$gutters: 24px;
$gutter: $gutters/2;

$color: #1F4466;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 20px/30px 'PFDinDisplayPro', sans-serif;
    color: $color;
	background-color: #fff;
}

h1,
.h1 {
    margin-bottom: 41px;
	font: 900 50px/58px 'PFDinDisplayPro', sans-serif;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #004161;
}

h2,
.h2 {
    margin-bottom: 41px;
	font: 900 30px/35px 'PFDinDisplayPro', sans-serif;
	color: #004161;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

h3,
.h3 {
    margin-bottom: 32px;
    font: 800 22px/26px 'PFDinDisplayPro', sans-serif;
	color: #004161;
	letter-spacing: 0.085em;
}

h4,
.h4 {
    font: 700 18px/22px 'PFDinDisplayPro', sans-serif;
	color: #004161;
}

a {
	color: inherit;
    text-decoration: underline;
    &:hover {
		color: inherit;
		text-decoration: none;
    }
}

a img {
    border: none;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ol {
    margin-bottom: 20px;
}

b {
    font-weight: 700;
}

*::before, *::after{
    max-width: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
	overflow: hidden;
}

hr {
	margin-top: 38px;
	margin-bottom: 38px;
    border: 0;
    height: 1px;
    background-color: #eee;
}

img, svg {
    max-height: 100%;
    max-width: 100%;
}

input {
    max-width: 100%;
}
input[type="text"]::-ms-clear {
	display: none;
	width : 0;
	height: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

button {
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

input,
textarea {
    padding: 6px;
    border-width: 0;
    outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    font-family: 'Nunito', sans-serif;
}

::-webkit-input-placeholder {color: #9b9b9b;font-size:13px;}
:-moz-placeholder { /* Firefox 18- */color: #9b9b9b;font-size:13px;}
::-moz-placeholder {  /* Firefox 19+ */color: #9b9b9b;font-size:13px;}
:-ms-input-placeholder { color: #9b9b9b;font-size:13px;}

blockquote {
	margin-bottom: 20px;
	padding-left: 45px;
	position: relative;
	font-size: 17px;
	font-style: italic;
	line-height: 26px;
	border-left: 2px solid #00597d;
	color: #1d1d1d;
	&:after {
		content: "\f10e";
		position: absolute;
		top: 0;
		left: 10px;
		font-weight: 900;
		font-size: 25px;
		font-style: normal;
		color: #00597d;
		line-height: 24px;
		font-family: "Line Awesome Free";
	}
}

.quote {
	&_right {
		width: 49%;
		float: right;
		margin-left: 30px;
	}
	&_left {
		float: left;
		width: 49%;
		margin-right: 30px;
	}
	&-info {
		margin-bottom: 2px;
	}
	cite {
		font-size: 15px;
		font-style: normal;
		color: $color;
	}
}

.cite {
	padding-left: 10px;
	font-style: normal;
	border-left: 2px solid #65ba5c;
}

.g-hidden {
	display: none;
}

.currency {
	font-family: "ALSRubl";
}

/* scrollbar */
.scrollbar {
    --scrollbar-size: 6px;
    --scrollbar-minlength: 6px;
    --scrollbar-ff-width: thin;
    --scrollbar-track-color: rgba(234,234,234,1);
    --scrollbar-color: rgba(145,144,144,1);
    --scrollbar-color-hover: rgba(145,144,144,1);
    --scrollbar-color-active: rgba(145,144,144,1);
    scrollbar-width: var(--scrollbar-ff-width);
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);

    &::-webkit-scrollbar {
        height: var(--scrollbar-size);
        width: var(--scrollbar-size);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
		border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color-hover);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-color-active);
    }
    &::-webkit-scrollbar-thumb:vertical {
        min-height: var(--scrollbar-minlength);
    }
    &::-webkit-scrollbar-thumb:horizontal {
        min-width: var(--scrollbar-minlength);
    }
}
/* scrollbar */

/* simplebar */
.simplebar-track.simplebar-vertical {
	width: 5px;
}
.simplebar-scrollbar:before {
	left: 0;
	right: 0;
}
.simplebar-track {
	border-radius: 2.5px;
	background-color: transparent;
}
.simplebar-scrollbar:before {
	background-color: $color;
}
.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}
/* /simplebar */

.main-page {}

.wrapper {
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	overflow-x: hidden;
}

.container {
	min-width: 320px;
	max-width: $desktop;
	margin: 0 auto;
	padding-right: $gutters;
	padding-left: $gutters;
}

.content {
	letter-spacing: 0.085em;
	font-weight: 300;
    b {
		color: #0D0C0B;
	}
	a {
		color: inherit;
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
    ul {
        margin-left: 14px;
		margin-top: 7px;
        margin-bottom: 20px;
    }
    ul li {
        margin-bottom: 17px;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
			border-radius: 50%;
            margin-top: -2px;
			margin-left: -13px;
			margin-right: 9px;
            background-color: #828282;
        }
    }

    ol {
		margin-top: 7px;
		margin-bottom: 20px;
		margin-left: 19px;
	}
	ol li {
		margin-bottom: 21px;
	}

    img {
        height: auto;
    }
	figcaption {
		position: relative;
		margin-top: -12px;
		padding: 13px 18px 16px;
		border: 1px solid #eaeaea;
		background-color: #fff;
		font-style: italic;
		text-align: left;
		font-style: italic;
		font-size: 18px;
	}
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
    line-height: 0;
}

.switcher {
    text-decoration: none;
    border-bottom: 1px dashed;
    &:hover {
        border-bottom-color: transparent;
    }
}

/*swiper */
.swiper-pagination-bullet {
	width: 7px;
	height: 7px;
	transition: height 0.3s linear;
	background-color: #3C9FFA;
	border-radius: 0;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	height: 21px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-left: 2.5px;
	margin-right: 2.5px;
}
/* /swiper */

/* slider */
.slider {
	&-head {
		position: relative;
	}
	&-panel {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 240px;
	}
	&-panel_simple {
		position: absolute;
		top: 0;
		right: -9px;
	}
	&-nav {
		width: 100%;
	}
	&-button {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 1;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		width: 94px;
		height: 94px;
		line-height: 94px;
		cursor: pointer;
		border-radius: 50%;
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
	&-button_prev {
		left: -193px;
	}
	&-button_next {
		left: auto;
		right: -193px;
	}
	&-button_disabled {
		visibility: hidden;
		cursor: auto;
	}
	&-pagination {
		display: flex;
		align-items: flex-end;
		text-align: left;
	}
}
/* /slider */

.svg-box {
	display: none;
}

.breadcrumbs {
	position: relative;
	min-height: 25px;
	margin-bottom: 44px;
	&-list {
	}
	&-item {
		display: inline;
		vertical-align: middle;
		margin-right: 5px;
		margin-bottom: 4px;
		font-size: 14px;
		line-height: 19px;
		color: #65BA5C;
		font-weight: 700;
	}
	&-item_more {
		position: absolute;
		top: 4px;
		right: 0;
		z-index: 1;
		margin-right: 0;
		padding-right: 5px;
		padding-left: 5px;
		display: none;
		background-color: #fff;
	}
	&-link {
		text-decoration: none;
		color: #333333;
		font-weight: 400;
		&:hover {
			color: #333333;
		}
	}
	&-item_more &-link {
		font-size: 15px;
		color: #000;
	}
	&-icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		font-size: 12px;
		color: #727272;
	}
	&-item:first-child &-icon {
		display: none;
	}
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* pager */
.pager {
	list-style-type: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	&-item {
		font-size: 16px;
	}
	&-item:last-child {
		margin-right: 0;
	}
	&-item_first {
	}
	&-item_last {
	}
	&-link {
		display: inline-block;
		padding-right: 8px;
		padding-left: 8px;
		text-decoration: none;
		font-size: 18px;
		line-height: 25px;
		color: #828282;
		&:hover {
			color: #59A750;
		}
	}
	&-link_last {}
	&-icon {
		margin-top: 1px;
		font-size: 25px;
		color: #1d1d1d;
	}
	&-link:hover &-icon {
	}
	&-item_active &-link {
		color: #59A750;
	}
	&-item_active &-link:hover {
		color: #59A750;
	}
	&-item_default &-link:hover {
		border-color: transparent;
	}
	&-item_default &-icon {
		color: #a9a9a9;
	}
	&-item_side {
	}
	&-item_side &-link {
	}
	&-item_side &-icon {
		margin-top: 6px;
		margin-left: 1px;
	}
}
/* /pager */

.button-up {
	visibility: hidden;
	position: fixed;
	z-index: 100;
	bottom: 55px;
	right: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #59A750;
	text-align: center;
	transition: visibility 0.3s linear;
	&_active {
		visibility: visible;
	}
	&-icon {
		position: relative;
		top: -2px;
		transform: scaleY(-1);
	}
}

/* show-more */
.show {
	&-switcher {
		display: none;
	}
	&-switcher:hover { }
	&more-start &-switcher {
		display: inline-block;
	}
	&-more {}
	&-more-label {
		display: inline-block;
	}
	&-more-label:hover { }
	&-more-label_simple {
		font-weight: 700;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		color: #59A750;
	}
	&-more-icon {
		margin-top: -3px;
		margin-left: 14px;
		vertical-align: middle;
	}
	&-switcher_active {
		display: inline-block;
	}
	&-more_hide {
		display: none;
	}
	&more-active &-more_show {
		display: none;
	}
	&more-active &-more_hide {
		display: block;
	}
	&more-active &-more-icon {
		transform: scaleY(-1);
	}
}
/* /-show-more */

.icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: no-repeat 0 0;
	background-size: 100% auto;
	&_telegram {
		height: 28px;
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='28' viewBox='0 0 36 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.5701 0.184107L1.68098 11.5883C-0.495321 12.399 -0.482731 13.5249 1.28169 14.0269L9.46889 16.3955L28.4117 5.31158C29.3074 4.80617 30.1257 5.07806 29.4531 5.63184L14.1057 18.4772H14.1021L14.1057 18.4789L13.5409 26.3052C14.3683 26.3052 14.7334 25.9532 15.1974 25.5379L19.1741 21.9517L27.4458 27.6179C28.9711 28.3969 30.0664 27.9966 30.4459 26.3085L35.8759 2.57604C36.4316 0.509369 35.0251 -0.426386 33.5701 0.184107Z' fill='%233C9FFA'/%3E%3C/svg%3E");
	}
	&_telegram_light {
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='28' viewBox='0 0 36 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.5701 0.184107L1.68098 11.5883C-0.495321 12.399 -0.482731 13.5249 1.28169 14.0269L9.46889 16.3955L28.4117 5.31158C29.3074 4.80617 30.1257 5.07806 29.4531 5.63184L14.1057 18.4772H14.1021L14.1057 18.4789L13.5409 26.3052C14.3683 26.3052 14.7334 25.9532 15.1974 25.5379L19.1741 21.9517L27.4458 27.6179C28.9711 28.3969 30.0664 27.9966 30.4459 26.3085L35.8759 2.57604C36.4316 0.509369 35.0251 -0.426386 33.5701 0.184107Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
	}
	&_viber {
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0525 0.00523905C14.0086 0.0401184 7.46437 0.514927 3.80407 3.70245C1.08137 6.26326 0.130731 10.0494 0.0193095 14.7311C-0.0731463 19.3959 -0.184568 28.1562 8.71134 30.5415V34.1746C8.71134 34.1746 8.65563 35.6283 9.6679 35.9264C10.9149 36.3011 11.6249 35.1827 12.8102 33.9811L15.0209 31.6081C21.1075 32.0886 25.7694 30.9814 26.3064 30.8172C27.5415 30.4425 34.4982 29.5986 35.6349 20.8372C36.8013 11.7888 35.0672 6.08774 31.9367 3.50892H31.9177C30.973 2.68307 27.1764 0.0569954 18.6942 0.0277418C18.6942 0.0277418 18.0648 -0.0127632 17.0525 0.00411391V0.00523905ZM17.1568 2.54918C18.0209 2.54355 18.546 2.57843 18.546 2.57843C25.7256 2.59643 29.1524 4.64756 29.9608 5.3384C32.5969 7.48291 33.9553 12.6225 32.9608 20.1767C32.0161 27.5014 26.3739 27.9649 25.3297 28.2811C24.8852 28.4161 20.7792 29.377 15.6064 29.0608C15.6064 29.0608 11.7541 33.4736 10.5498 34.61C10.3589 34.8092 10.1361 34.8677 9.99387 34.8384C9.78999 34.7912 9.72835 34.5515 9.74021 34.223L9.77695 28.1933C2.23232 26.2131 2.67682 18.7411 2.75742 14.8379C2.84988 10.9348 3.62153 7.74169 5.9187 5.57918C9.01123 2.92497 14.5681 2.56718 17.1544 2.54918H17.1568ZM17.7258 6.45116C17.6637 6.45056 17.6021 6.46164 17.5445 6.48375C17.4869 6.50587 17.4346 6.53857 17.3904 6.57999C17.3462 6.62141 17.3111 6.67072 17.2871 6.72508C17.2631 6.77944 17.2506 6.83777 17.2505 6.89671C17.2505 7.14875 17.4662 7.34789 17.7258 7.34789C18.901 7.32668 20.0691 7.52653 21.1626 7.93592C22.2561 8.34531 23.2534 8.95615 24.0969 9.73319C25.8192 11.3208 26.6584 13.454 26.6904 16.2432C26.6904 16.4896 26.9002 16.6944 27.1657 16.6944V16.6764C27.2909 16.6767 27.4111 16.6301 27.5001 16.5466C27.5891 16.4631 27.6398 16.3496 27.6411 16.2309C27.6986 14.918 27.4743 13.6077 26.9818 12.3797C26.4893 11.1517 25.7389 10.0315 24.7761 9.08736C22.8997 7.34677 20.522 6.45003 17.7258 6.45003V6.45116ZM11.4779 7.48291C11.1424 7.43638 10.8002 7.50031 10.5083 7.66406H10.4834C9.80571 8.04114 9.19521 8.51772 8.67459 9.07611C8.24195 9.55092 8.00725 10.0314 7.94561 10.4938C7.90887 10.7694 7.93376 11.0451 8.02029 11.3084L8.05111 11.3264C8.53828 12.6856 9.1748 13.993 9.95238 15.2239C10.954 16.9532 12.1867 18.5524 13.6198 19.9821L13.6625 20.0406L13.73 20.0878L13.7727 20.1351L13.8225 20.1756C15.3341 21.5399 17.023 22.7155 18.8483 23.6737C20.9345 24.7515 22.2004 25.2612 22.9602 25.4728V25.484C23.183 25.5481 23.3857 25.5774 23.5896 25.5774C24.2371 25.5324 24.8501 25.2828 25.3309 24.8686C25.9164 24.3743 26.4129 23.7924 26.8007 23.146V23.1347C27.1646 22.4844 27.0413 21.8689 26.5162 21.4526C25.4646 20.5801 24.3274 19.8051 23.1202 19.1382C22.3118 18.7219 21.4904 18.974 21.1573 19.3959L20.4473 20.2454C20.0834 20.6673 19.422 20.6088 19.422 20.6088L19.403 20.62C14.4709 19.424 13.1551 14.6838 13.1551 14.6838C13.1551 14.6838 13.0935 14.0391 13.5499 13.7106L14.4389 13.031C14.8644 12.7024 15.1607 11.9238 14.7044 11.1554C14.0067 10.0079 13.192 8.92821 12.2721 7.93184C12.071 7.69695 11.7888 7.53713 11.4755 7.48066L11.4779 7.48291ZM18.546 8.81958C17.9166 8.81958 17.9166 9.72194 18.552 9.72194C19.3346 9.73399 20.1071 9.89232 20.8252 10.1879C21.5434 10.4835 22.1931 10.9105 22.7374 11.4445C23.2338 11.9643 23.6153 12.5735 23.8592 13.2358C24.1031 13.8981 24.2045 14.6002 24.1574 15.3004C24.1595 15.4189 24.2105 15.5319 24.2993 15.6151C24.3882 15.6984 24.5078 15.7454 24.6327 15.7459L24.6517 15.7696C24.7774 15.7687 24.8978 15.7209 24.9867 15.6364C25.0757 15.552 25.126 15.4378 25.127 15.3184C25.1697 13.5305 24.5841 12.0307 23.4355 10.8291C22.281 9.62743 20.6701 8.95347 18.6136 8.81958H18.546ZM19.3248 11.2454C18.6764 11.2274 18.6515 12.1477 19.294 12.1657C20.8562 12.2422 21.6148 12.9916 21.7144 14.533C21.7166 14.65 21.7669 14.7616 21.8546 14.8438C21.9424 14.926 22.0605 14.9724 22.1838 14.973H22.2028C22.2662 14.9704 22.3284 14.9558 22.3858 14.9302C22.4432 14.9045 22.4946 14.8683 22.5371 14.8236C22.5796 14.7789 22.6122 14.7265 22.6332 14.6697C22.6541 14.6129 22.663 14.5526 22.6591 14.4925C22.5477 12.483 21.3932 11.3511 19.3438 11.2465H19.3248V11.2454Z' fill='%233C9FFA'/%3E%3C/svg%3E");
	}
	&_viber_light {
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0525 0.00523905C14.0086 0.0401184 7.46437 0.514927 3.80407 3.70245C1.08137 6.26326 0.130731 10.0494 0.0193095 14.7311C-0.0731463 19.3959 -0.184568 28.1562 8.71134 30.5415V34.1746C8.71134 34.1746 8.65563 35.6283 9.6679 35.9264C10.9149 36.3011 11.6249 35.1827 12.8102 33.9811L15.0209 31.6081C21.1075 32.0886 25.7694 30.9814 26.3064 30.8172C27.5415 30.4425 34.4982 29.5986 35.6349 20.8372C36.8013 11.7888 35.0672 6.08774 31.9367 3.50892H31.9177C30.973 2.68307 27.1764 0.0569954 18.6942 0.0277418C18.6942 0.0277418 18.0648 -0.0127632 17.0525 0.00411391V0.00523905ZM17.1568 2.54918C18.0209 2.54355 18.546 2.57843 18.546 2.57843C25.7256 2.59643 29.1524 4.64756 29.9608 5.3384C32.5969 7.48291 33.9553 12.6225 32.9608 20.1767C32.0161 27.5014 26.3739 27.9649 25.3297 28.2811C24.8852 28.4161 20.7792 29.377 15.6064 29.0608C15.6064 29.0608 11.7541 33.4736 10.5498 34.61C10.3589 34.8092 10.1361 34.8677 9.99387 34.8384C9.78999 34.7912 9.72835 34.5515 9.74021 34.223L9.77695 28.1933C2.23232 26.2131 2.67682 18.7411 2.75742 14.8379C2.84988 10.9348 3.62153 7.74169 5.9187 5.57918C9.01123 2.92497 14.5681 2.56718 17.1544 2.54918H17.1568ZM17.7258 6.45116C17.6637 6.45056 17.6021 6.46164 17.5445 6.48375C17.4869 6.50587 17.4346 6.53857 17.3904 6.57999C17.3462 6.62141 17.3111 6.67072 17.2871 6.72508C17.2631 6.77944 17.2506 6.83777 17.2505 6.89671C17.2505 7.14875 17.4662 7.34789 17.7258 7.34789C18.901 7.32668 20.0691 7.52653 21.1626 7.93592C22.2561 8.34531 23.2534 8.95615 24.0969 9.73319C25.8192 11.3208 26.6584 13.454 26.6904 16.2432C26.6904 16.4896 26.9002 16.6944 27.1657 16.6944V16.6764C27.2909 16.6767 27.4111 16.6301 27.5001 16.5466C27.5891 16.4631 27.6398 16.3496 27.6411 16.2309C27.6986 14.918 27.4743 13.6077 26.9818 12.3797C26.4893 11.1517 25.7389 10.0315 24.7761 9.08736C22.8997 7.34677 20.522 6.45003 17.7258 6.45003V6.45116ZM11.4779 7.48291C11.1424 7.43638 10.8002 7.50031 10.5083 7.66406H10.4834C9.80571 8.04114 9.19521 8.51772 8.67459 9.07611C8.24195 9.55092 8.00725 10.0314 7.94561 10.4938C7.90887 10.7694 7.93376 11.0451 8.02029 11.3084L8.05111 11.3264C8.53828 12.6856 9.1748 13.993 9.95238 15.2239C10.954 16.9532 12.1867 18.5524 13.6198 19.9821L13.6625 20.0406L13.73 20.0878L13.7727 20.1351L13.8225 20.1756C15.3341 21.5399 17.023 22.7155 18.8483 23.6737C20.9345 24.7515 22.2004 25.2612 22.9602 25.4728V25.484C23.183 25.5481 23.3857 25.5774 23.5896 25.5774C24.2371 25.5324 24.8501 25.2828 25.3309 24.8686C25.9164 24.3743 26.4129 23.7924 26.8007 23.146V23.1347C27.1646 22.4844 27.0413 21.8689 26.5162 21.4526C25.4646 20.5801 24.3274 19.8051 23.1202 19.1382C22.3118 18.7219 21.4904 18.974 21.1573 19.3959L20.4473 20.2454C20.0834 20.6673 19.422 20.6088 19.422 20.6088L19.403 20.62C14.4709 19.424 13.1551 14.6838 13.1551 14.6838C13.1551 14.6838 13.0935 14.0391 13.5499 13.7106L14.4389 13.031C14.8644 12.7024 15.1607 11.9238 14.7044 11.1554C14.0067 10.0079 13.192 8.92821 12.2721 7.93184C12.071 7.69695 11.7888 7.53713 11.4755 7.48066L11.4779 7.48291ZM18.546 8.81958C17.9166 8.81958 17.9166 9.72194 18.552 9.72194C19.3346 9.73399 20.1071 9.89232 20.8252 10.1879C21.5434 10.4835 22.1931 10.9105 22.7374 11.4445C23.2338 11.9643 23.6153 12.5735 23.8592 13.2358C24.1031 13.8981 24.2045 14.6002 24.1574 15.3004C24.1595 15.4189 24.2105 15.5319 24.2993 15.6151C24.3882 15.6984 24.5078 15.7454 24.6327 15.7459L24.6517 15.7696C24.7774 15.7687 24.8978 15.7209 24.9867 15.6364C25.0757 15.552 25.126 15.4378 25.127 15.3184C25.1697 13.5305 24.5841 12.0307 23.4355 10.8291C22.281 9.62743 20.6701 8.95347 18.6136 8.81958H18.546ZM19.3248 11.2454C18.6764 11.2274 18.6515 12.1477 19.294 12.1657C20.8562 12.2422 21.6148 12.9916 21.7144 14.533C21.7166 14.65 21.7669 14.7616 21.8546 14.8438C21.9424 14.926 22.0605 14.9724 22.1838 14.973H22.2028C22.2662 14.9704 22.3284 14.9558 22.3858 14.9302C22.4432 14.9045 22.4946 14.8683 22.5371 14.8236C22.5796 14.7789 22.6122 14.7265 22.6332 14.6697C22.6541 14.6129 22.663 14.5526 22.6591 14.4925C22.5477 12.483 21.3932 11.3511 19.3438 11.2465H19.3248V11.2454Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
	}
	&_whatsapp {
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2482 20.9738C25.7991 20.7565 23.597 19.7094 23.187 19.5636C22.7771 19.4192 22.4787 19.3477 22.1787 19.7823C21.8803 20.214 21.0227 21.1911 20.7619 21.4798C20.4997 21.77 20.2389 21.805 19.7913 21.5892C19.3436 21.3704 17.8997 20.914 16.189 19.4382C14.8582 18.289 13.9584 16.87 13.6976 16.4354C13.4369 16.0023 13.669 15.7675 13.8935 15.5517C14.0955 15.3577 14.3412 15.0457 14.5658 14.7934C14.7903 14.5396 14.8642 14.3588 15.0134 14.0686C15.1641 13.7798 15.0888 13.5275 14.9757 13.3102C14.8642 13.093 13.9689 10.9594 13.5951 10.0917C13.2319 9.24734 12.8626 9.36254 12.5883 9.34796C12.326 9.33629 12.0276 9.33338 11.7292 9.33338C11.4307 9.33338 10.9454 9.44129 10.5355 9.87588C10.124 10.309 8.96795 11.3575 8.96795 13.4911C8.96795 15.6232 10.5716 17.6838 10.7962 17.974C11.0208 18.2627 13.9538 22.6406 18.4468 24.5175C19.517 24.9638 20.3505 25.2306 21.0001 25.429C22.0732 25.76 23.0499 25.7133 23.8216 25.6011C24.6807 25.4771 26.4713 24.5525 26.8451 23.5404C27.2174 22.5284 27.2174 21.6606 27.1058 21.4798C26.9943 21.299 26.6959 21.1911 26.2467 20.9738H26.2482ZM18.0761 31.7698H18.07C15.4014 31.7703 12.7818 31.0762 10.4857 29.7602L9.94312 29.4481L4.30311 30.8802L5.80882 25.5602L5.45462 25.0148C3.96269 22.717 3.17314 20.0576 3.17722 17.344C3.18023 9.39609 9.86324 2.92985 18.0821 2.92985C22.0612 2.92985 25.8021 4.43193 28.6145 7.15609C30.0018 8.49277 31.1013 10.0823 31.8494 11.8328C32.5976 13.5833 32.9797 15.4599 32.9734 17.3542C32.9704 25.3021 26.2874 31.7698 18.0761 31.7698ZM30.7548 5.08672C29.0941 3.46932 27.1182 2.18688 24.9416 1.31372C22.7649 0.440569 20.4309 -0.00594452 18.0746 5.97588e-05C8.19625 5.97588e-05 0.153736 7.78025 0.150722 17.3425C0.146144 20.3857 0.971213 23.3762 2.54268 26.0123L0 35L9.5015 32.5879C12.1299 33.9735 15.0753 34.6995 18.0685 34.6996H18.0761C27.9544 34.6996 35.9969 26.9194 35.9999 17.3557C36.0072 15.0767 35.5474 12.8189 34.6471 10.713C33.7468 8.60708 32.4238 6.69478 30.7548 5.08672Z' fill='%233C9FFA'/%3E%3C/svg%3E");
	}
	&_whatsapp_light {
		background-image: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2482 20.9738C25.7991 20.7565 23.597 19.7094 23.187 19.5636C22.7771 19.4192 22.4787 19.3477 22.1787 19.7823C21.8803 20.214 21.0227 21.1911 20.7619 21.4798C20.4997 21.77 20.2389 21.805 19.7913 21.5892C19.3436 21.3704 17.8997 20.914 16.189 19.4382C14.8582 18.289 13.9584 16.87 13.6976 16.4354C13.4369 16.0023 13.669 15.7675 13.8935 15.5517C14.0955 15.3577 14.3412 15.0457 14.5658 14.7934C14.7903 14.5396 14.8642 14.3588 15.0134 14.0686C15.1641 13.7798 15.0888 13.5275 14.9757 13.3102C14.8642 13.093 13.9689 10.9594 13.5951 10.0917C13.2319 9.24734 12.8626 9.36254 12.5883 9.34796C12.326 9.33629 12.0276 9.33338 11.7292 9.33338C11.4307 9.33338 10.9454 9.44129 10.5355 9.87588C10.124 10.309 8.96795 11.3575 8.96795 13.4911C8.96795 15.6232 10.5716 17.6838 10.7962 17.974C11.0208 18.2627 13.9538 22.6406 18.4468 24.5175C19.517 24.9638 20.3505 25.2306 21.0001 25.429C22.0732 25.76 23.0499 25.7133 23.8216 25.6011C24.6807 25.4771 26.4713 24.5525 26.8451 23.5404C27.2174 22.5284 27.2174 21.6606 27.1058 21.4798C26.9943 21.299 26.6959 21.1911 26.2467 20.9738H26.2482ZM18.0761 31.7698H18.07C15.4014 31.7703 12.7818 31.0762 10.4857 29.7602L9.94312 29.4481L4.30311 30.8802L5.80882 25.5602L5.45462 25.0148C3.96269 22.717 3.17314 20.0576 3.17722 17.344C3.18023 9.39609 9.86324 2.92985 18.0821 2.92985C22.0612 2.92985 25.8021 4.43193 28.6145 7.15609C30.0018 8.49277 31.1013 10.0823 31.8494 11.8328C32.5976 13.5833 32.9797 15.4599 32.9734 17.3542C32.9704 25.3021 26.2874 31.7698 18.0761 31.7698ZM30.7548 5.08672C29.0941 3.46932 27.1182 2.18688 24.9416 1.31372C22.7649 0.440569 20.4309 -0.00594452 18.0746 5.97588e-05C8.19625 5.97588e-05 0.153736 7.78025 0.150722 17.3425C0.146144 20.3857 0.971213 23.3762 2.54268 26.0123L0 35L9.5015 32.5879C12.1299 33.9735 15.0753 34.6995 18.0685 34.6996H18.0761C27.9544 34.6996 35.9969 26.9194 35.9999 17.3557C36.0072 15.0767 35.5474 12.8189 34.6471 10.713C33.7468 8.60708 32.4238 6.69478 30.7548 5.08672Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
	}
	&_mail {
		width: 40px;
		height: 30px;
		background-image: url("data:image/svg+xml,%3Csvg width='40' height='30' viewBox='0 0 40 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.75 30H4.25C3.12283 30 2.04183 29.572 1.2448 28.8101C0.447766 28.0483 0 27.0149 0 25.9375V3.88578C0.0476694 2.83926 0.516394 1.85079 1.30832 1.12674C2.10024 0.402681 3.15414 -0.000989704 4.25 1.82228e-06H35.75C36.8772 1.82228e-06 37.9582 0.428014 38.7552 1.18988C39.5522 1.95175 40 2.98506 40 4.0625V25.9375C40 27.0149 39.5522 28.0483 38.7552 28.8101C37.9582 29.572 36.8772 30 35.75 30ZM3 5.35688V27.1875H37V5.35688L20 16.1875L3 5.35688ZM4.7 2.8125L20 12.5625L35.3 2.8125H4.7Z' fill='%233C9FFA'/%3E%3C/svg%3E");
	}
	&_mail_light {
		background-image: url("data:image/svg+xml,%3Csvg width='40' height='30' viewBox='0 0 40 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.75 30H4.25C3.12283 30 2.04183 29.572 1.2448 28.8101C0.447766 28.0483 0 27.0149 0 25.9375V3.88578C0.0476694 2.83926 0.516394 1.85079 1.30832 1.12674C2.10024 0.402681 3.15414 -0.000989704 4.25 1.82228e-06H35.75C36.8772 1.82228e-06 37.9582 0.428014 38.7552 1.18988C39.5522 1.95175 40 2.98506 40 4.0625V25.9375C40 27.0149 39.5522 28.0483 38.7552 28.8101C37.9582 29.572 36.8772 30 35.75 30ZM3 5.35688V27.1875H37V5.35688L20 16.1875L3 5.35688ZM4.7 2.8125L20 12.5625L35.3 2.8125H4.7Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
	}
	&_vk {
		width: 38px;
		height: 22px;
		background-image: url("data:image/svg+xml,%3Csvg width='38' height='22' viewBox='0 0 38 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.1284 1.48971C37.3912 0.631714 37.1284 0 35.8697 0H31.7135C30.6559 0 30.1682 0.545286 29.9038 1.14714C29.9038 1.14714 27.7901 6.16943 24.7961 9.43171C23.8271 10.3777 23.3869 10.6779 22.8581 10.6779C22.5937 10.6779 22.1963 10.3777 22.1963 9.51814V1.48971C22.1963 0.458857 21.905 0 21.0246 0H14.4888C13.8285 0 13.4311 0.477714 13.4311 0.931857C13.4311 1.90771 14.9289 2.134 15.0825 4.88086V10.8491C15.0825 12.1581 14.8403 12.3954 14.3114 12.3954C12.9023 12.3954 9.47447 7.34957 7.43993 1.57614C7.04569 0.452571 6.64669 0 5.5843 0H1.42497C0.237495 0 0 0.545286 0 1.14714C0 2.21886 1.40914 7.54286 6.56278 14.5844C9.99854 19.393 14.8355 22 19.2418 22C21.8844 22 22.2105 21.4217 22.2105 20.4239V16.7891C22.2105 15.631 22.4607 15.4 23.2983 15.4C23.9157 15.4 24.9718 15.7017 27.4386 18.0196C30.2569 20.768 30.7208 22 32.3072 22H36.4634C37.6509 22 38.2462 21.4217 37.9042 20.2777C37.5274 19.14 36.1816 17.4884 34.3972 15.5289C33.4282 14.4131 31.9747 13.211 31.533 12.6091C30.9171 11.8376 31.0928 11.4934 31.533 10.8067C31.533 10.8067 36.5996 3.85157 37.1268 1.48971H37.1284Z' fill='%233C9FFA'/%3E%3C/svg%3E%0A");
	}
	&_vk_light {
		background-image: url("data:image/svg+xml,%3Csvg width='38' height='22' viewBox='0 0 38 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.1284 1.48971C37.3912 0.631714 37.1284 0 35.8697 0H31.7135C30.6559 0 30.1682 0.545286 29.9038 1.14714C29.9038 1.14714 27.7901 6.16943 24.7961 9.43171C23.8271 10.3777 23.3869 10.6779 22.8581 10.6779C22.5937 10.6779 22.1963 10.3777 22.1963 9.51814V1.48971C22.1963 0.458857 21.905 0 21.0246 0H14.4888C13.8285 0 13.4311 0.477714 13.4311 0.931857C13.4311 1.90771 14.9289 2.134 15.0825 4.88086V10.8491C15.0825 12.1581 14.8403 12.3954 14.3114 12.3954C12.9023 12.3954 9.47447 7.34957 7.43993 1.57614C7.04569 0.452571 6.64669 0 5.5843 0H1.42497C0.237495 0 0 0.545286 0 1.14714C0 2.21886 1.40914 7.54286 6.56278 14.5844C9.99854 19.393 14.8355 22 19.2418 22C21.8844 22 22.2105 21.4217 22.2105 20.4239V16.7891C22.2105 15.631 22.4607 15.4 23.2983 15.4C23.9157 15.4 24.9718 15.7017 27.4386 18.0196C30.2569 20.768 30.7208 22 32.3072 22H36.4634C37.6509 22 38.2462 21.4217 37.9042 20.2777C37.5274 19.14 36.1816 17.4884 34.3972 15.5289C33.4282 14.4131 31.9747 13.211 31.533 12.6091C30.9171 11.8376 31.0928 11.4934 31.533 10.8067C31.533 10.8067 36.5996 3.85157 37.1268 1.48971H37.1284Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
	}
	&_arrow-left {
		width: 51px;
		height: 33px;
		background-image: url("data:image/svg+xml,%3Csvg width='51' height='33' viewBox='0 0 51 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M51 16.5C51 16.0138 50.8081 15.5476 50.4666 15.2038C50.125 14.8601 49.6617 14.6669 49.1787 14.6669H6.22122L17.6846 3.13321C17.8539 2.96278 17.9882 2.76045 18.0799 2.53777C18.1715 2.31509 18.2187 2.07642 18.2187 1.83539C18.2187 1.59436 18.1715 1.3557 18.0799 1.13302C17.9882 0.910338 17.8539 0.708005 17.6846 0.537573C17.5152 0.367141 17.3142 0.231948 17.0929 0.139711C16.8717 0.0474739 16.6345 0 16.3951 0C16.1556 0 15.9184 0.0474739 15.6972 0.139711C15.4759 0.231948 15.2749 0.367141 15.1056 0.537573L0.535079 15.2022C0.365467 15.3725 0.230898 15.5747 0.13908 15.7974C0.0472623 16.0201 0 16.2589 0 16.5C0 16.7411 0.0472623 16.9799 0.13908 17.2026C0.230898 17.4253 0.365467 17.6275 0.535079 17.7978L15.1056 32.4624C15.2749 32.6329 15.4759 32.7681 15.6972 32.8603C15.9184 32.9525 16.1556 33 16.3951 33C16.6345 33 16.8717 32.9525 17.0929 32.8603C17.3142 32.7681 17.5152 32.6329 17.6846 32.4624C17.8539 32.292 17.9882 32.0897 18.0799 31.867C18.1715 31.6443 18.2187 31.4056 18.2187 31.1646C18.2187 30.9236 18.1715 30.6849 18.0799 30.4622C17.9882 30.2396 17.8539 30.0372 17.6846 29.8668L6.22122 18.3331H49.1787C49.6617 18.3331 50.125 18.1399 50.4666 17.7962C50.8081 17.4524 51 16.9862 51 16.5Z' fill='%233C9FFA'/%3E%3C/svg%3E%0A");
	}
	&_arrow-right {
		width: 51px;
		height: 33px;
		background-image: url("data:image/svg+xml,%3Csvg width='51' height='33' viewBox='0 0 51 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1.44248e-06 16.5C-1.39997e-06 16.9862 0.191886 17.4524 0.533446 17.7962C0.87501 18.14 1.33827 18.3331 1.82131 18.3331L44.7788 18.3331L33.3154 29.8668C33.1461 30.0372 33.0118 30.2396 32.9201 30.4622C32.8285 30.6849 32.7813 30.9236 32.7813 31.1646C32.7813 31.4056 32.8285 31.6443 32.9201 31.867C33.0118 32.0897 33.1461 32.292 33.3154 32.4624C33.4848 32.6329 33.6858 32.7681 33.9071 32.8603C34.1283 32.9525 34.3655 33 34.6049 33C34.8444 33 35.0816 32.9525 35.3028 32.8603C35.5241 32.7681 35.7251 32.6329 35.8944 32.4624L50.4649 17.7978C50.6345 17.6275 50.7691 17.4253 50.8609 17.2026C50.9527 16.9799 51 16.7411 51 16.5C51 16.2589 50.9527 16.0201 50.8609 15.7974C50.7691 15.5747 50.6345 15.3725 50.4649 15.2022L35.8944 0.537576C35.7251 0.367143 35.524 0.23195 35.3028 0.139711C35.0815 0.0474753 34.8444 1.41237e-06 34.6049 1.4333e-06C34.3655 1.45424e-06 34.1283 0.0474754 33.9071 0.139711C33.6858 0.23195 33.4848 0.367143 33.3154 0.537576C33.1461 0.708006 33.0118 0.910337 32.9201 1.13302C32.8285 1.3557 32.7813 1.59437 32.7813 1.83539C32.7813 2.07642 32.8285 2.31509 32.9201 2.53777C33.0118 2.76045 33.1461 2.96278 33.3154 3.13321L44.7788 14.6669L1.82131 14.6669C1.33827 14.6669 0.87501 14.8601 0.533446 15.2038C0.191885 15.5476 -1.48498e-06 16.0138 -1.44248e-06 16.5Z' fill='%233C9FFA'/%3E%3C/svg%3E%0A");
	}
	&_play {
		width: 219px;
		height: 193px;
		background-image: url("data:image/svg+xml,%3Csvg width='219' height='193' viewBox='0 0 219 193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M92.6421 56.5874C91.609 55.9417 90.4218 55.5843 89.2039 55.5523C87.9861 55.5203 86.7818 55.8149 85.7163 56.4055C84.6507 56.9961 83.7626 57.8611 83.1443 58.9109C82.5259 59.9606 82.1998 61.1567 82.1998 62.375V132.672C82.1996 133.906 82.5337 135.117 83.1666 136.175C83.7995 137.234 84.7076 138.102 85.7942 138.685C86.8808 139.269 88.1053 139.548 89.3375 139.491C90.5697 139.435 91.7636 139.045 92.7922 138.365L147.392 102.206C148.343 101.576 149.12 100.717 149.654 99.7094C150.187 98.7014 150.46 97.5759 150.446 96.4355C150.433 95.2951 150.134 94.1763 149.576 93.1813C149.019 92.1863 148.221 91.3469 147.256 90.7396L92.6557 56.5874H92.6421ZM34.4248 0.949951C25.3743 0.949951 16.6945 4.54525 10.2948 10.9449C3.89511 17.3446 0.299805 26.0244 0.299805 35.075V157.925C0.299805 166.975 3.89511 175.655 10.2948 182.055C16.6945 188.455 25.3743 192.05 34.4248 192.05H184.575C193.625 192.05 202.305 188.455 208.705 182.055C215.105 175.655 218.7 166.975 218.7 157.925V35.075C218.7 26.0244 215.105 17.3446 208.705 10.9449C202.305 4.54525 193.625 0.949951 184.575 0.949951H34.4248ZM13.9498 35.075C13.9498 29.6446 16.107 24.4367 19.9468 20.5969C23.7866 16.7571 28.9945 14.6 34.4248 14.6H184.575C190.005 14.6 195.213 16.7571 199.053 20.5969C202.893 24.4367 205.05 29.6446 205.05 35.075V157.925C205.05 163.355 202.893 168.563 199.053 172.403C195.213 176.243 190.005 178.4 184.575 178.4H34.4248C28.9945 178.4 23.7866 176.243 19.9468 172.403C16.107 168.563 13.9498 163.355 13.9498 157.925V35.075Z' fill='white'/%3E%3C/svg%3E");
	}
	&_close {
		width: 25px;
		height: 25px;
		background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7128 12.6508L24.5072 2.85635L22.4452 0.79437L12.6508 10.5888L2.85647 0.794412L0.79449 2.85639L10.5889 12.6508L0.79449 22.4451L2.85647 24.5071L12.6508 14.7127L22.4452 24.5071L24.5072 22.4452L14.7128 12.6508Z' fill='%233C9FFA'/%3E%3C/svg%3E");
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7128 12.6508L24.5072 2.85635L22.4452 0.79437L12.6508 10.5888L2.85647 0.794412L0.79449 2.85639L10.5889 12.6508L0.79449 22.4451L2.85647 24.5071L12.6508 14.7127L22.4452 24.5071L24.5072 22.4452L14.7128 12.6508Z' fill='%23FF6B00'/%3E%3C/svg%3E");
		}
	}
}


.title {
	position: relative;
	padding-left: 68px;
	font-weight: 900;
	font-size: 50px;
	line-height: 58px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #004161;
	&:before {
		content: '';
		position: absolute;
		top: 12px;
		left: 20px;
		width: 9px;
		height: 92px;
		background-color: #3C9FFA;
		transform: skew(159deg);
	}
	span {
		font-weight: 300;
	}
}

.link {
	display: inline-block;
	min-height: 41px;
	padding: 10px 24px 9px;
	line-height: 19px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	background-color: #3C9FFA;
	text-decoration: none;
	transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
	&:hover {
		background-color: #FF6B00;
		color: #FFFFFF;
	}
	&_simple {
		background-color: transparent;
		border: 1px solid #3C9FFA;
		color: #3C9FFA;
		&:hover {
			background-color: #FF6B00;
			border-color: #FF6B00;
			color: #FFFFFF;
		}
	}
}

@media screen
and (max-width: $desktop){
	.slider {
		&-button_prev {
			left: -108px;
		}
		&-button_next {
			right: -108px;
		}
	}
}

@media screen
and (max-width: $notebook){
	.slider {
		&-button_prev {
			left: 0;
		}
		&-button_next {
			right: 0;
		}
		&-nav {
			position: relative;
			display: flex;
			justify-content: space-between;
		}
		&-button {
			position: static;
			transform: none;
		}
	}
}

@media screen
and (max-width: $tablet){
	h1, .h1 {
		margin-bottom: 24px;
		font-size: 40px;
		line-height: 47px;
	}
	.title {
		margin-bottom: 24px;
		padding-left: 63px;
		font-size: 40px;
		line-height: 47px;
		&:before {
			top: 10px;
			height: 74px;
		}
	}
}

@media screen
and (max-width: $mobile){
	.title {
		margin-bottom: 28px;
	}
	.slider {
		&-nav {
			display: none;
		}
	}
}
